*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .3s ease all;
}
a{
    text-decoration: none;
}
body.dark{
    background: rgb(88, 88, 88);   
}
body.dark h1{
    color: #fff;
}

header h1{
    text-align: center;
}
.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: absolute;
    cursor: pointer;
    display: flex;
    outline: none;
    transform: translate(55px, 3px);
}
.switch span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    background: none;
    color: #fff
}
.switch span::after{
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    background: #0bf81f;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgb(208, 255, 0);
}
.switch.active{
    background: orange;
    color: #000;
}
.switch.active ::after{
    right: 0;
    left: unset;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.wave{
    bottom: 0;
    width: 100%;
}
body.dark .wave path{
    fill: #fff !important;
}

.cont-prin{
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../img/fondos/valle.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.loc h3{
    font-size: 25px;
}
.social{
    text-align: center;
    font-size: 35px;
}
.face,.wapp,.twit,.insta{
    width: 40px;
    height: 40px;
}
.footer{
    text-align: center;
}

@media (max-width: 700px){
    header {
    font-size: 14px;
    }
    .switch{
        
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(30px,3px);
    }
    .switch span{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .switch span::after{
        width: 25px;
        height: 25px;
    }
    .cont-prin{
        width: 95%;
        margin: auto;
    }
}
@media (max-width: 560px){
    header{
        font-size: 11px;
    }
    .switch{
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(8px, 1px);
    }
    .switch span{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .switch span::after{
        width: 20px;
        height: 20px;
    }
    .cont-prin{
        width: 95%;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        width: 95%;
        margin: auto;
    }
}