@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .3s ease all;
    color: #000 ;
}
a{
    text-decoration: none;
}

body.dark{
    background: rgb(88, 88, 88);   
}

header h1{
    text-align: center;
    margin: -250px,-25PX;
}
.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: absolute;
    cursor: pointer;
    display: flex;
    outline: none;
    transform: translate(53px, 2px);
}
.switch span{
    width: 33px;
    height: 30px;
    line-height: 32px;
    display: block;
    background: none;

}
.switch span::after{
    content: "";
    display: block;
    width: 32px;
    height: 30px;
    position: absolute;
    background: #0bf852;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 3px rgb(70, 11, 11);
}
body.dark .switch span::after{
    box-shadow: 0px 0px 2px 3px rgb(230, 245, 16);
}

.switch.active{
    background: #ffffff;
}
.switch.active ::after{
    right: 0;
    left: unset;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.wave{
    bottom: 0;
    width: 100%;
}
body.dark .wave path{
    fill: rgb(0, 0, 0) !important;
}

.cont-prin{
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../img/fondos/valle.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cont-prin .loc{
    transform: translateY(-95px);

}
.loc h3{
    font-size: 45px;
    color: rgb(238, 255, 0);
    text-shadow: #fff;
}
.section-btn h1,
h2,
h3,
h4 {
    line-height: 1;
    text-align: center;
}
.section-btn p{
    text-align: justify;
}
.section-btn .btn{
text-transform: uppercase;
background: transparent;
color: black;
padding: 0.375rem 0.75rem;
letter-spacing: .25rem;
display: inline-block;
transition: all .3s linear;
font-size: 20px;
border: 1.5px solid black;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
border-radius: .5rem;
}
.section-btn .btn:hover{
    color: #fff;
    background: #222;
}
.pestañas{
    font-size: 30px;
}
.section-btn{
    padding: 2rem 2rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
}
.about{
    background: rgba(194, 191, 191, 0.74);
    border-radius: 5px;
    display: grid;
    grid-auto-flow: auto 1fr;
}
.btn-contenido{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1){
    border-top-left-radius: 5px;
}
.tab-btn:nth-child(3){
    border-top-right-radius: 5px;
}
.tab-btn{
    padding: 10px 0;
    border: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    display: block;
    background: hsl(212, 33%, 89%);
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .25rem;
}
.tab-btn:hover:not(.activ){
    background: hsl(205, 100%, 96%);
    color: #49a6e9;
}
.pestañas{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2rem 1.5rem;
}
.cont{
    display: none;
}
.tab-btn.activ{
    background: rgb(219, 217, 217);
}
.cont.activ{
    display: block;
}
.tecno{
    /* border: #000 1px solid; */
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
    align-items: center;
    text-align: center;
}
.tecno div{
    /* border: 1px solid #000; */
    width: auto;
    display:grid;
    /* margin: 0 10px; */
    padding: 0 23px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
}
.btn img{
    border-top:1px solid rgba(255, 255, 255, .1);
    border-bottom:1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 15px 33px rgba(0, 0, 0, .3);
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
    padding: .5px .5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}
.btn img{
    border-image: linear-gradient( to right, #03fc03 0%, #1a0 20%, #0f0f0f 30%, rgb(214, 16, 148))1;
    transition: .5s;
}
.paginas h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    /* text-shadow: blue 1px 3px ; */
    filter: drop-shadow(0 0 1px rgb(0, 153, 255))
    drop-shadow(1px 1px 0 rgb(0, 217, 255))
    drop-shadow(-1px 1px 0 rgb(25, 0, 255))
    drop-shadow(1px -1px 0 rgba(0, 81, 255, 0.322))
}
.paginas h3{
    font-size: 25px;
}
.paginas .grid-pags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: auto;
    margin-top: 15px;
    text-align: center;
    
}
.paginas img{
    height: 180px;
    width: 300px;
}
.social{
    text-align: center;
    font-size: 35px;
}
body.dark .social{
    color: #fff;
}
.gthub,
.face,
.wapp,
.twit,
.insta{
    width: 40px;
    height: 40px;
}
.formulario{
    width: min(700px, 100%);
    margin: 0 auto;
    padding: 3px;
    font-size: 25px;
    font-family: 'baloo tammudu 2';
}
.formulario fieldset{
    border-radius: 15px;
    background-color: #343d5ba9;
    border: none;
}
.formulario legend{
    text-align: center;
    padding: 5px;
    font-size: 28px;
    border-radius: 4px;
    background-color: rgb(231, 158, 21);
    box-shadow: rgba(0, 0, 0, 0.726) 2px 2px;
        
}
.formulario h4{
    text-align: center;
    margin-top: 5px;
}
/* .formulario input{
    display: flexbox;
    margin-right: ;
} */
.contenedor-campos{
    
}
.campo{
    margin-bottom: 25px;
}
.campo label{
    color: #fff;
    font-weight: bold;
    margin-bottom: -5px;
    display: block;
}
.input-text{
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    /* text-align: ; */
}
.campo textarea{
    height: 160px;
}
.boton{
    background-color: #49a6e9;
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: none;
}
.footer{
    text-align: center;
    color: #000;
}
body.dark .footer{
    color: #fff;
}
body.dark h1{
    color: #fff;
}
body.dark h2{
    color: #fff;
}
body.dark h3{
    color: #fff;
}
body.dark h4{
    color: #fff;
}
body.dark h5{
    color: #fff;
}
body.dark p{
    color: #fff;
}

@media (max-width: 755px){
    header {
    font-size: 14px;
    }
    .cont-prin{
        background-size: auto;
    }
    .switch img{
        height: 23px;
    }
    .switch{
        
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(30px,3px);
    }
    .switch span{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .switch span::after{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 620px){
    .switch{
        transform: translate( 25px, 0)
    }
    .cont-prin{
        background-size: auto;
    }
    .tecno{
        transform: translateX(-85px);
    }
}
@media (max-width: 575px){
    header{
        font-size: 11px;
    }
    .cont-prin{
        background-size: auto;
    }
    .switch img{
        height: 18px;
    }
    .switch{
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(28px, 1px);
    }
    .switch span{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .switch span::after{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 520px){ 
    .cont-prin{
        background-size: auto;
    }
    header {
        font-size: 9px;
    }
    .btn img{
        justify-items: center;
        align-content: center;
        height: 50px;
    }
    .btn-contenido button{
        font-size: 25px;
        letter-spacing: 1px;
    }
    .tecno{
        grid-template-columns: repeat(1,1fr);
        row-gap: 5px;
        padding-left: 80px;
        text-align: center;
    }
    .tecno div{
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 10px;
    }
    .paginas .grid-pags{
        display: grid;
        grid-template-columns: 1fr;
        /* margin-top: 15px; */
        grid-template-rows: 1fr, 1fr;
        row-gap: 8px;
    }
    .paginas img{
        height: 100px;
        width: 200px;
    }    
    .formulario{
        width: 300px;
        margin: 0 auto;
    }
}
@media (max-width: 450px){
    header{
        transform: translate(20px,0)
    }
    .switch{
        transform: translate(1px, 1px);
    }
    .section-btn .btn{
        font-size: 5px;
        letter-spacing: 5px;
    }
    .pestañas{
        font-size: 25px;
    }
    .btn-contenido{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .tecno{
        grid-template-columns: repeat(1,1fr);
        row-gap: 5px;
        padding-left: 25px;
        text-align: center;
    }
    .tecno div{
        column-gap: 5px;
    }
    .tecno p{
        padding-left: 25px;
    }
    .formulario{
        width: auto;
        margin: 0 auto;
        /* height: 300px; */
    }
}
@media (max-width: 380px){
    .btn-contenido{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-btn{
        font-size: 14px;
    }    
    .pestañas{
        font-size: 20px;
    }
    .btn-contenido button{
        font-size: 22px;
    }
    .formulario legend{
        text-align: center;
        font-size: 25px;
    }
    .campo input{
        height: 40px;
    }
    .campo textarea{
        height:100px
    }
}