*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .3s ease all;
    color: #000 ;
}
a{
    text-decoration: none;
}

body.dark{
    background: rgb(88, 88, 88);   
}

header h1{
    text-align: center;
    margin: -250px,-25PX;
}
.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: absolute;
    cursor: pointer;
    display: flex;
    outline: none;
    transform: translate(53px, 2px);
}
.switch span{
    width: 33px;
    height: 30px;
    line-height: 32px;
    display: block;
    background: none;

}
.switch span::after{
    content: "";
    display: block;
    width: 32px;
    height: 30px;
    position: absolute;
    background: #0bf852;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 3px rgb(70, 11, 11);
}
body.dark .switch span::after{
    box-shadow: 0px 0px 2px 3px rgb(230, 245, 16);
}

.switch.active{
    background: #ffffff;
}
.switch.active ::after{
    right: 0;
    left: unset;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.wave{
    bottom: 0;
    width: 100%;
}
body.dark .wave path{
    fill: rgb(0, 0, 0) !important;
}

.cont-prin{
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../img/fondos/valle.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cont-prin .loc{
    transform: translateY(-95px);

}
.loc h3{
    font-size: 45px;
    color: rgb(238, 255, 0);
    text-shadow: #fff;
}
.btn-contenido button{
text-transform: uppercase;
background: transparent;
color: black;
padding: 0.375rem 0.75rem;
letter-spacing: .25rem;
display: inline-block;
transition: all .3s linear;
font-size: 20px;
border: 1.5px solid black;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
border-radius: .5rem;
}
.pestañas{
    font-size: 20px;
}
.section-btn{
    padding: 2rem 2rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
}
.tecno{
    /* border: #000 1px solid; */
    width: 60%;
    margin: 0 auto;
    /* padding: 0 auto; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
    align-items: center;
    text-align: center;
}
.tecno div{
    /* border: 1px solid #000; */
    width: auto;
    display:grid;
    /* margin: 0 10px; */
    padding: 0 23px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
}
.btn img{
    border-top:1px solid rgba(255, 255, 255, .1);
    border-bottom:1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 15px 33px rgba(0, 0, 0, .3);
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
    padding: .5px .5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}
.btn img{
    border-image: linear-gradient( to right, #03fc03 0%, #1a0 20%, #0f0f0f 30%, rgb(214, 16, 148))1;
    transition: .5s;
}
.paginas h2{
    text-align: center;
    margin-top: 20px;
}
.paginas .grid-pags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: auto;
    margin-top: 15px;
    text-align: center;
    
}
.paginas img{
    height: 180px;
    width: 300px;
}
.social{
    text-align: center;
    font-size: 35px;
}
body.dark .social{
    color: #fff;
}
.gthub,
.face,
.wapp,
.twit,
.insta{
    width: 40px;
    height: 40px;
}
.formulario{
    width: 500px;
    margin: 0 auto;
}
.formulario h2,h4{
    text-align: center;
    margin-top: 5px;
}
.footer{
    text-align: center;
    color: #000;
}
body.dark .footer{
    color: #fff;
}
body.dark h1{
    color: #fff;
}
body.dark h2{
    color: #fff;
}
body.dark h3{
    color: #fff;
}
body.dark h4{
    color: #fff;
}
body.dark h5{
    color: #fff;
}
body.dark p{
    color: #fff;
}

@media (max-width: 755px){
    header {
    font-size: 14px;
    }
    .cont-prin{
        background-size: auto;
    }
    .switch img{
        height: 23px;
    }
    .switch{
        
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(30px,3px);
    }
    .switch span{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .switch span::after{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 620px){
    .switch{
        transform: translate( 25px, 0)
    }
    .cont-prin{
        background-size: auto;
    }
    .tecno{
        transform: translateX(-85px);
    }
}
@media (max-width: 575px){
    header{
        font-size: 11px;
    }
    .cont-prin{
        background-size: auto;
    }
    .switch img{
        height: 18px;
    }
    .switch{
        border-radius: 1000px;
        border: none;
        position: absolute;
        cursor: pointer;
        display: flex;
        outline: none;
        transform: translate(28px, 1px);
    }
    .switch span{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .switch span::after{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 520px){ 
    .cont-prin{
        background-size: auto;
    }
    header {
        font-size: 9px;
    }
    .btn img{
        justify-items: center;
        align-content: center;
        height: 50px;
    }
    .tecno{
        grid-template-columns: repeat(1,1fr);
        row-gap: 5px;
        padding-left: 80px;
        text-align: center;
    }
    .tecno div{
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 10px;
    }
    .paginas .grid-pags{
        display: grid;
        grid-template-columns: 1fr;
        /* margin-top: 15px; */
        grid-template-rows: 1fr, 1fr;
        row-gap: 8px;
    }
    .paginas img{
        height: 100px;
        width: 200px;
    }    
    .formulario{
        width: 300px;
        margin: 0 auto;
    }
}
@media (max-width: 450px){
    header{
        transform: translate(20px,0)
    }
    .switch{
        transform: translate(1px, 1px);
    }
    .tecno{
        grid-template-columns: repeat(1,1fr);
        row-gap: 5px;
        padding-left: 55px;
        text-align: center;
    }
    .formulario{
        width: auto;
        margin: 0 auto;
    }
}