*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
body{
    background-color: rgb(85, 81, 81);
}
.nav{
    bottom: 0pt;
    text-align: center;
    font-size: 25px;
    position: sticky
}
.wave{
    bottom: 0;
    width: 100%;
}
.banner{
    width: 100vh;
}
.banner img{
    width: 100;
}
.titulo{
    text-align: center;
}
div .t1{
    display: grid;
    padding: 0 20px;
    grid-template-columns: repeat (2,1fr);
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
}
.t1 img{
    width: 30%;    
}

.footer{
    text-align: center;
}