.header{
    background-color: bisque;
    .div_header{
        height: 65px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: calc(100% - 50px);
        
    .div_logo{
        img{
            width: 150px;
        }
    }
    }
    .div_search{
        background-color: rgb(0, 110, 255);
        display: flex;
        height: 40%;
        border-radius: 8px;
        div{
            color: white;
            width: 20%;
            display: grid;
            place-items: center;
        }
        input{
            font-weight: bold;
            width: 80%;
            outline: none;
            
        }
    }

}